host:iad1-shared-b7-33.dreamhost.com
user:dh_example
password:your_ssh_password
port:22

url:woopack.example.com

mysql
senha:your_mysql_password
user:woopack
dbname:woopack
host:mysql.example.com

deploy_branch:main
deploy_remote:dreamhost
deploy_git_path:/home/dh_example/repos/woopack.git
deploy_app_path:/home/dh_example/apps/woopack
deploy_web_path:/home/dh_example/woopack.example.com
deploy_php_bin:/usr/local/bin/php-8.4
